@model MediCsharpASPNET.Models.Consulta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaConsulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnostico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.NombreDoctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.NombreDoctor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.NombrePaciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.NombrePaciente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Consulta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
