@model IEnumerable<MediCsharpASPNET.Models.Reposo>

@{
    ViewBag.Title = "Index";
}

<h2>Reposos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaDesde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaHasta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.NombreDoctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.NombrePaciente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDesde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaHasta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.NombreDoctor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.NombrePaciente)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_Reposo }) |
            @Html.ActionLink("Detailles", "Details", new { id=item.Id_Reposo }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id_Reposo })
        </td>
    </tr>
}

</table>
